.currentNavigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(var(--primary));
}

.notCurrentNavigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}